body {
   background: url("Love.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: "Coolvetica";
    color: white;
    font-size: 100px;
    transform: translateY(350px);
    text-align: center;
    animation: 10s linear 0s infinite running yan;
}

@keyframes yan {
    from{transform: scale(1, 1);}
    to{transform: scale (1.5, 1.5)}
}
