body {
    background: linear-gradient(to top, rgb(69, 11, 122), rgb(90, 15, 90));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: "Coolvetica";
    color: white;
    font-size: 100px;
    text-align: center;
    letter-spacing: 3px;
}

@keyframes yan {
    from{transform: scale(1, 1);}
    to{transform: scale (1.5, 1.5);}
}